[submodule "lib_fbui"]
	path = lib_fbui
	url = https://github.com/charles-park/lib_fbui
[submodule "storage_test"]
	path = storage_test
	url = https://github.com/charles-park/storage_test.jig
[submodule "nlp_server_ctrl"]
	path = nlp_server_ctrl
	url = https://github.com/charles-park/nlp_server_ctrl
[submodule "mac_server_ctrl"]
	path = mac_server_ctrl
	url = https://github.com/charles-park/mac_server_ctrl
